@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);








body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Oswald', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Oswald', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Oswald', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Oswald', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Oswald', sans-serif;
}
.mbr-author-desc {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Oswald', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #000000 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #ea8d02 !important;
}
.bg-warning {
  background-color: #000000 !important;
}
.bg-danger {
  background-color: #90a878 !important;
}
.btn-primary {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary {
  background-color: #ea8d02;
  border-color: #ea8d02;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #9e5f01;
  border-color: #9e5f01;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #9e5f01 !important;
  border-color: #9e5f01 !important;
}
.btn-info {
  background-color: #ea8d02;
  border-color: #ea8d02;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #9e5f01;
  border-color: #9e5f01;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #9e5f01 !important;
  border-color: #9e5f01 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #855001;
  color: #855001;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ea8d02;
  border-color: #ea8d02;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ea8d02 !important;
  border-color: #ea8d02 !important;
}
.btn-info-outline {
  background: none;
  border-color: #855001;
  color: #855001;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #ea8d02;
  border-color: #ea8d02;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #ea8d02 !important;
  border-color: #ea8d02 !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.text-primary {
  color: #000000 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #ea8d02 !important;
}
.text-warning {
  color: #000000 !important;
}
.text-danger {
  color: #90a878 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #ea8d02;
}
.alert-warning {
  background-color: #000000;
}
.alert-danger {
  background-color: #90a878;
}
.btn-social {
  border-color: #000000;
}
.btn-social:hover {
  background: #000000;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #000000;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #000000;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #000000;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #000000;
}
.lead a,
.lead a:hover {
  color: #000000;
}
.lead blockquote {
  border-color: #000000;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #fee3ba;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #000000;
}
.extCountdown1 .number,
.extCountdown2 .number {
  font-family: 'Oswald', sans-serif;
}
.extCountdown1 .period,
.extCountdown2 .period {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}
.extCountdown1 .dot,
.extCountdown2 .dot {
  font-family: 'Oswald', sans-serif;
}
.features6 .feature-subtitle {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}
.features6 .feature-title {
  font-family: 'Oswald', sans-serif;
}
.features6 .description {
  font-family: 'Oswald', sans-serif;
}
.count,
.counter-title {
  font-family: 'Oswald', sans-serif;
}
.counter-subtitle {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}
.mbr-iconfont-counters1 {
  color: #000000;
}
.extHeader1 .container h3,
.extHeader2 .container h3,
.extHeader3 .container h3,
.extHeader5 .container h3,
.extHeader6 .container h3,
.extHeader7 .container h3,
.extHeader8 .container h3,
.extHeader9 .container h3,
.extHeader10 .container h3,
.extHeader12 .container h3,
.extHeader13 .container h3,
.extFeatures10 .container h3 {
  font-family: 'Oswald', sans-serif;
}
.extHeader1 .container p,
.extHeader2 .container p,
.extHeader3 .container p,
.extHeader5 .container p,
.extHeader6 .container p,
.extHeader7 .container p,
.extHeader8 .container p,
.extHeader9 .container p,
.extHeader10 .container p,
.extHeader12 .container p,
.extHeader13 .container p,
.extFeatures10 .container p {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}
.extHeader5 .container label {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}
.extHeader9 form p.form-subtitle {
  font-family: 'Oswald', sans-serif;
}
.extHeader11 .container span {
  font-family: 'Oswald', sans-serif;
}
.extHeader11 .container p.element {
  font-family: 'Oswald', sans-serif;
}
.extHeader11 .container p {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}
.extHeader12 h4,
.extFeatures10 h4 {
  font-family: 'Oswald', sans-serif;
}
.extHeader12 .subtitle,
.extFeatures10 .subtitle {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}
.extHeader13 h4 {
  font-family: 'Oswald', sans-serif;
}
.extHeader13 .number {
  font-family: 'Oswald', sans-serif;
}
.extHeader13 .period {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}
.extHeader13 .dot {
  font-family: 'Oswald', sans-serif;
}
.extFeatures .feature-title {
  font-family: 'Oswald', sans-serif;
}
.extFeatures .feature-subtitle {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}
.extFeatures .feature-text {
  font-family: 'Oswald', sans-serif;
}
.extFeatures2 h4 {
  font-family: 'Oswald', sans-serif;
}
.extFeatures3 .border-wrap {
  border-color: #000000;
}
.extFeatures4 h4,
.extFeatures6 h4,
.extFeatures5 .card-title h4 {
  font-family: 'Oswald', sans-serif;
}
.extFeatures4 h5,
.extFeatures6 h5,
.extFeatures5 .card-title h5 {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}
.extForm1 h4,
.extForm2 h4,
.extForm3 h4,
.extForm4 h4 {
  font-family: 'Oswald', sans-serif;
}
.extForm1 .subtitle,
.extForm2 .subtitle,
.extForm3 .subtitle,
.extForm4 .subtitle {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}
.extForm2 .container h3 {
  font-family: 'Oswald', sans-serif;
}
.extForm2 .container p {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}
.extPricingTable1 .bottom_line {
  border-bottom-color: #000000;
}
.extPricingTable1 .mbr-price small {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}
.extPricingTable1 .mbr-plan-label {
  background: #000000;
}
.extCounters2 h4 {
  font-family: 'Oswald', sans-serif;
}
.extCounters2 h5 {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}
.extCounters3 .count {
  font-family: 'Oswald', sans-serif;
}
.extCounters3 .counter-title {
  font-family: 'Oswald', sans-serif;
}
.extCounters3 .counter-subtitle {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}
.extProgressBar .progress-primary[value]::-webkit-progress-value {
  background-color: #000000;
}
.extProgressBar .progress-primary[value]::-moz-progress-bar {
  background-color: #000000;
}
@media screen and (min-width: 0\0) {
  .extProgressBar .progress-primary .progress-bar {
    background-color: #000000;
  }
}
.extProgressBar .title-wrap {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}
.extProgressBarRound .progress-radial .overlay {
  font-family: 'Oswald', sans-serif;
}
.extProgressBar4 .feature-title {
  font-family: 'Oswald', sans-serif;
}
.extProgressBar4 .feature-subtitle {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}
.extTabs1 ul.nav-tabs li a:hover,
.extTabs2 ul.nav-tabs li a:hover {
  color: #000000;
}
.extAccordion1 .panel-heading a {
  font-family: 'Oswald', sans-serif;
}
.extAccordion1 .pseudoPlus,
.extAccordion2 .pseudoPlus,
.extToggle1 .pseudoPlus,
.extAccordion1 .pseudoPlus:after,
.extAccordion2 .pseudoPlus:after,
.extToggle1 .pseudoPlus:after,
.extAccordion1 .pseudoMinus,
.extAccordion2 .pseudoMinus,
.extToggle1 .pseudoMinus {
  background-color: #000000;
}
.extAccordion2 .panel-heading a,
.extAccordion3 .panel-heading a,
.extToggle1 .panel-heading a {
  font-family: 'Oswald', sans-serif;
}
.extProgressBar5 .progress-primary[value]::-webkit-progress-value {
  background-color: #000000;
}
.extProgressBar5 .progress-primary[value]::-moz-progress-bar {
  background-color: #000000;
}
@media screen and (min-width: 0\0) {
  .extProgressBar5 .progress-primary .progress-bar {
    background-color: #000000;
  }
}
.extProgressBar5 .title-wrap {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}
.extMsg-box1 .container h3 {
  font-family: 'Oswald', sans-serif;
}
.extMsg-box1 .container p {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}
.extMsg-box1 h4 {
  font-family: 'Oswald', sans-serif;
}
.extMsg-box1 .subtitle {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}
.extMsg-box2 .container span,
.extMsg-box3 .container span,
.extMsg-box4 .container span {
  font-family: 'Oswald', sans-serif;
}
.extMsg-box2 .container p,
.extMsg-box3 .container p,
.extMsg-box4 .container p {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}
.extProgressBarRound .pie_progress__number {
  font-family: 'Oswald', sans-serif;
}
.extMenu1 span.icon a:hover {
  color: #000000 !important;
}
.extProgressBar .progress-primary[value]::-ms-fill {
  color: #000000;
}
.extProgressBar5 .progress-primary[value]::-ms-fill {
  color: #000000;
}
.theme-border {
  border: 1px solid #000000;
}
#header1-33 .mbr-section-title {
  color: #efefef;
  font-size: 60px;
  text-align: center;
}
#header1-33 .mbr-section-lead {
  text-align: center;
  font-size: 36px;
  color: #efefef;
}
#header1-33 .mbr-section-title SPAN {
  font-size: 60px;
  font-family: 'Oswald', sans-serif;
  color: #ea8d02;
}
#header1-33 .mbr-section-title {
  text-shadow: 2px 15px 25px black;
}
#header1-33 .mbr-section-title {
  -webkit-animation: blink 3.0s linear infinite;
  -moz-animation: blink 3.0s linear infinite;
  -ms-animation: blink 3.0s linear infinite;
  -o-animation: blink 3.0s linear infinite;
  animation: blink 3.0s linear infinite;
}
#header1-33 h1 {
  /* Add the blur effect */
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
#header3-77 {
  
}
#header3-77 .mbr-section-title,
#header3-77 .mbr-section-subtitle {
  text-align: center;
}
#header3-77 .mbr-section-subtitle {
  color: #262626;
}
#header3-77 .mbr-section-title {
  color: #262626;
  font-size: 60px;
}
#header3-77 .mbr-section-title SPAN {
  font-family: 'Oswald', sans-serif;
  font-size: 72px;
  color: #000000;
}
#header3-77 .mbr-section-subtitle I {
  font-size: 20px;
  color: #000000;
}
#header3-77 .mbr-section-title {
  text-shadow: 0 0 20px #000000;
}
#extFeatures7-99 H4 {
  font-size: 30px;
}
#extFeatures7-99 SPAN {
  color: #ea8d02;
}
#extFeatures7-99 img {
  -webkit-filter: drop-shadow(5px 5px 5px #222222);
  filter: drop-shadow(5px 5px 5px #222222);
}
#extForm1-79 H2 {
  color: #000000;
}
#extForm1-79 I {
  color: #000000;
}
#header3-7l .mbr-section-title,
#header3-7l .mbr-section-subtitle {
  text-align: center;
}
#header3-7l .mbr-section-title {
  color: #fac51c;
  font-size: 72px;
}
#header3-7l .mbr-section-title SPAN {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#social-buttons1-9u {
  text-shadow: 0 0 20px #000000;
}
#social-buttons1-9u .mbr-section-title {
  color: #000000;
}
#ext_menu-74 {
  text-shadow: 3px 5px 25px black;
}
#ext_menu-74 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-74 .navbar-caption {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-74 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-74 .close-icon::before,
#ext_menu-74 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-74 .link,
#ext_menu-74 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-74 .link {
  font-size: 1.5rem;
}
#ext_menu-74 .dropdown-item,
#ext_menu-74 .nav-dropdown-sm .link {
  font-size: 1.624rem;
}
#ext_menu-74 .link:hover,
#ext_menu-74 .dropdown-item:hover,
#ext_menu-74 .link:focus,
#ext_menu-74 .dropdown-item:focus {
  color: #000000;
}
#ext_menu-74 .link[aria-expanded="true"],
#ext_menu-74 .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-74 .nav-dropdown-sm .link:focus,
#ext_menu-74 .nav-dropdown-sm .link:hover,
#ext_menu-74 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-74 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-74 .navbar,
#ext_menu-74 .nav-dropdown-sm,
#ext_menu-74 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-74 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-74 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-74 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-74 .bg-color.transparent.opened .link:hover,
#ext_menu-74 .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#ext_menu-74 .link[aria-expanded="true"],
#ext_menu-74 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#ext_menu-74 A {
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-74 .btn {
  font-size: 30px;
}




#msg-box8-71 .mbr-section-title,
#msg-box8-71 p {
  color: #fff;
}
#msg-box8-71 .mbr-section-title {
  text-align: left;
  color: #90a878;
}
#msg-box8-71 .mbr-section-title SPAN {
  font-size: 60px;
  color: #ffffff;
}
#header3-72 .mbr-section-title,
#header3-72 .mbr-section-subtitle {
  text-align: center;
}
#header3-72 .mbr-section-subtitle {
  color: #262626;
}
#header3-72 .mbr-section-title {
  color: #262626;
  font-size: 60px;
}
#header3-72 .mbr-section-title SPAN {
  font-family: 'Oswald', sans-serif;
  font-size: 72px;
  color: #000000;
}
#header3-72 .mbr-section-subtitle I {
  font-size: 20px;
  color: #90a878;
}
#social-buttons1-6n .mbr-section-title {
  color: #000000;
}
#ext_menu-74 {
  text-shadow: 2px 2px 5px black;
}
#ext_menu-74 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-74 .navbar-caption {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-74 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-74 .close-icon::before,
#ext_menu-74 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-74 .link,
#ext_menu-74 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-74 .link {
  font-size: 1.5rem;
}
#ext_menu-74 .dropdown-item,
#ext_menu-74 .nav-dropdown-sm .link {
  font-size: 1.624rem;
}
#ext_menu-74 .link:hover,
#ext_menu-74 .dropdown-item:hover,
#ext_menu-74 .link:focus,
#ext_menu-74 .dropdown-item:focus {
  color: #000000;
}
#ext_menu-74 .link[aria-expanded="true"],
#ext_menu-74 .dropdown-menu {
  background: #262626;
}
#ext_menu-74 .nav-dropdown-sm .link:focus,
#ext_menu-74 .nav-dropdown-sm .link:hover,
#ext_menu-74 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-74 .nav-dropdown-sm .dropdown-item:hover {
  background: #373737!important;
}
#ext_menu-74 .navbar,
#ext_menu-74 .nav-dropdown-sm,
#ext_menu-74 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-74 .nav-dropdown-sm .dropdown-menu {
  background: #3f3f3f;
}
#ext_menu-74 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-74 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-74 .bg-color.transparent.opened .link:hover,
#ext_menu-74 .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#ext_menu-74 .link[aria-expanded="true"],
#ext_menu-74 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#ext_menu-74 A {
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-74 .btn {
  font-size: 30px;
}



#ext_menu-74 {
  text-shadow: 2px 2px 5px black;
}
#ext_menu-74 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-74 .navbar-caption {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-74 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-74 .close-icon::before,
#ext_menu-74 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-74 .link,
#ext_menu-74 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-74 .link {
  font-size: 1.5rem;
}
#ext_menu-74 .dropdown-item,
#ext_menu-74 .nav-dropdown-sm .link {
  font-size: 1.624rem;
}
#ext_menu-74 .link:hover,
#ext_menu-74 .dropdown-item:hover,
#ext_menu-74 .link:focus,
#ext_menu-74 .dropdown-item:focus {
  color: #000000;
}
#ext_menu-74 .link[aria-expanded="true"],
#ext_menu-74 .dropdown-menu {
  background: #262626;
}
#ext_menu-74 .nav-dropdown-sm .link:focus,
#ext_menu-74 .nav-dropdown-sm .link:hover,
#ext_menu-74 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-74 .nav-dropdown-sm .dropdown-item:hover {
  background: #373737!important;
}
#ext_menu-74 .navbar,
#ext_menu-74 .nav-dropdown-sm,
#ext_menu-74 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-74 .nav-dropdown-sm .dropdown-menu {
  background: #3f3f3f;
}
#ext_menu-74 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-74 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-74 .bg-color.transparent.opened .link:hover,
#ext_menu-74 .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#ext_menu-74 .link[aria-expanded="true"],
#ext_menu-74 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#ext_menu-74 A {
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-74 .btn {
  font-size: 30px;
}




#msg-box8-70 .mbr-section-title,
#msg-box8-70 p {
  color: #fff;
}
#msg-box8-70 .mbr-section-title {
  text-align: left;
  color: #90a878;
  font-size: 60px;
}
#msg-box8-70 .mbr-section-title SPAN {
  color: #ffffff;
}
#firebase-blog-list-block-6t .mbr-section-title {
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
#firebase-blog-list-block-6t P {
  text-align: left;
  font-size: 17px;
  color: #000000;
}
#firebase-blog-list-block-6t B {
  color: #cccccc;
}
#header3-7m .mbr-section-title,
#header3-7m .mbr-section-subtitle {
  text-align: center;
}
#header3-7m .mbr-section-title {
  color: #fac51c;
  font-size: 72px;
}
#header3-7m .mbr-section-title SPAN {
  color: #ffffff;
}
#social-buttons1-6w .mbr-section-title {
  color: #000000;
}
#ext_menu-74 {
  text-shadow: 2px 2px 5px black;
}
#ext_menu-74 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-74 .navbar-caption {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-74 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-74 .close-icon::before,
#ext_menu-74 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-74 .link,
#ext_menu-74 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-74 .link {
  font-size: 1.5rem;
}
#ext_menu-74 .dropdown-item,
#ext_menu-74 .nav-dropdown-sm .link {
  font-size: 1.624rem;
}
#ext_menu-74 .link:hover,
#ext_menu-74 .dropdown-item:hover,
#ext_menu-74 .link:focus,
#ext_menu-74 .dropdown-item:focus {
  color: #000000;
}
#ext_menu-74 .link[aria-expanded="true"],
#ext_menu-74 .dropdown-menu {
  background: #262626;
}
#ext_menu-74 .nav-dropdown-sm .link:focus,
#ext_menu-74 .nav-dropdown-sm .link:hover,
#ext_menu-74 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-74 .nav-dropdown-sm .dropdown-item:hover {
  background: #373737!important;
}
#ext_menu-74 .navbar,
#ext_menu-74 .nav-dropdown-sm,
#ext_menu-74 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-74 .nav-dropdown-sm .dropdown-menu {
  background: #3f3f3f;
}
#ext_menu-74 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-74 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-74 .bg-color.transparent.opened .link:hover,
#ext_menu-74 .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#ext_menu-74 .link[aria-expanded="true"],
#ext_menu-74 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#ext_menu-74 A {
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-74 .btn {
  font-size: 30px;
}





#ext_menu-7t {
  text-shadow: 2px 2px 5px black;
}
#ext_menu-7t .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-7t .navbar-caption {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-7t .navbar-toggler {
  color: #ffffff;
}
#ext_menu-7t .close-icon::before,
#ext_menu-7t .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-7t .link,
#ext_menu-7t .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-7t .link {
  font-size: 1.5rem;
}
#ext_menu-7t .dropdown-item,
#ext_menu-7t .nav-dropdown-sm .link {
  font-size: 1.624rem;
}
#ext_menu-7t .link:hover,
#ext_menu-7t .dropdown-item:hover,
#ext_menu-7t .link:focus,
#ext_menu-7t .dropdown-item:focus {
  color: #000000;
}
#ext_menu-7t .link[aria-expanded="true"],
#ext_menu-7t .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-7t .nav-dropdown-sm .link:focus,
#ext_menu-7t .nav-dropdown-sm .link:hover,
#ext_menu-7t .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-7t .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-7t .navbar,
#ext_menu-7t .nav-dropdown-sm,
#ext_menu-7t .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-7t .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-7t .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-7t .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-7t .bg-color.transparent.opened .link:hover,
#ext_menu-7t .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#ext_menu-7t .link[aria-expanded="true"],
#ext_menu-7t .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#ext_menu-7t A {
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-7t .btn {
  font-size: 30px;
}
#slider3-9h H2 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #efefef;
}
#slider3-9h I {
  color: #ea8d02;
}
#slider3-9h .mbr-section-title {
  text-shadow: 2px 5px 15px black;
}
#slider3-9h .mbr-section-title {
  -webkit-animation: blink 3.0s linear infinite;
  -moz-animation: blink 3.0s linear infinite;
  -ms-animation: blink 3.0s linear infinite;
  -o-animation: blink 3.0s linear infinite;
  animation: blink 3.0s linear infinite;
}
#slider3-9h h1 {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
#extFeatures7-9j H4 {
  font-size: 30px;
}
#extFeatures7-9j SPAN {
  color: #90a878;
}
#social-buttons1-9i {
  text-shadow: 0 0 20px #000000;
}
#social-buttons1-9i .mbr-section-title {
  color: #000000;
  font-family: 'Oswald', sans-serif;
}



#ext_menu-8e {
  text-shadow: 2px 2px 5px black;
}
#ext_menu-8e .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-8e .navbar-caption {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-8e .navbar-toggler {
  color: #ffffff;
}
#ext_menu-8e .close-icon::before,
#ext_menu-8e .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-8e .link,
#ext_menu-8e .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-8e .link {
  font-size: 1.5rem;
}
#ext_menu-8e .dropdown-item,
#ext_menu-8e .nav-dropdown-sm .link {
  font-size: 1.624rem;
}
#ext_menu-8e .link:hover,
#ext_menu-8e .dropdown-item:hover,
#ext_menu-8e .link:focus,
#ext_menu-8e .dropdown-item:focus {
  color: #000000;
}
#ext_menu-8e .link[aria-expanded="true"],
#ext_menu-8e .dropdown-menu {
  background: #262626;
}
#ext_menu-8e .nav-dropdown-sm .link:focus,
#ext_menu-8e .nav-dropdown-sm .link:hover,
#ext_menu-8e .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-8e .nav-dropdown-sm .dropdown-item:hover {
  background: #373737!important;
}
#ext_menu-8e .navbar,
#ext_menu-8e .nav-dropdown-sm,
#ext_menu-8e .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-8e .nav-dropdown-sm .dropdown-menu {
  background: #3f3f3f;
}
#ext_menu-8e .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-8e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-8e .bg-color.transparent.opened .link:hover,
#ext_menu-8e .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#ext_menu-8e .link[aria-expanded="true"],
#ext_menu-8e .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#ext_menu-8e A {
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-8e .btn {
  font-size: 30px;
}
#msg-box7-9f {
  text-shadow: 2px 5px 15px black;
}
#msg-box7-9f .mbr-section-title,
#msg-box7-9f .lead p {
  color: #fff;
}
#msg-box7-9f H3 {
  color: #b8312f;
  text-align: left;
}
#msg-box7-9f P {
  text-align: left;
  font-size: 17px;
}
#msg-box7-9f SPAN {
  font-size: 60px;
}
#msg-box7-9f p {
  text-shadow: 2px 5px 15px black;
}
#social-buttons1-96 {
  text-shadow: 0 0 20px #000000;
}
#social-buttons1-96 .mbr-section-title {
  color: #000000;
}



#ext_menu-8e {
  text-shadow: 2px 2px 5px black;
}
#ext_menu-8e .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-8e .navbar-caption {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-8e .navbar-toggler {
  color: #ffffff;
}
#ext_menu-8e .close-icon::before,
#ext_menu-8e .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-8e .link,
#ext_menu-8e .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-8e .link {
  font-size: 1.5rem;
}
#ext_menu-8e .dropdown-item,
#ext_menu-8e .nav-dropdown-sm .link {
  font-size: 1.624rem;
}
#ext_menu-8e .link:hover,
#ext_menu-8e .dropdown-item:hover,
#ext_menu-8e .link:focus,
#ext_menu-8e .dropdown-item:focus {
  color: #000000;
}
#ext_menu-8e .link[aria-expanded="true"],
#ext_menu-8e .dropdown-menu {
  background: #262626;
}
#ext_menu-8e .nav-dropdown-sm .link:focus,
#ext_menu-8e .nav-dropdown-sm .link:hover,
#ext_menu-8e .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-8e .nav-dropdown-sm .dropdown-item:hover {
  background: #373737!important;
}
#ext_menu-8e .navbar,
#ext_menu-8e .nav-dropdown-sm,
#ext_menu-8e .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-8e .nav-dropdown-sm .dropdown-menu {
  background: #3f3f3f;
}
#ext_menu-8e .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-8e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-8e .bg-color.transparent.opened .link:hover,
#ext_menu-8e .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#ext_menu-8e .link[aria-expanded="true"],
#ext_menu-8e .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#ext_menu-8e A {
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-8e .btn {
  font-size: 30px;
}
#msg-box7-9a {
  text-shadow: 2px 5px 15px black;
}
#msg-box7-9a .mbr-section-title,
#msg-box7-9a .lead p {
  color: #fff;
}
#msg-box7-9a H3 {
  color: #f3c649;
  text-align: center;
  font-size: 60px;
}
#msg-box7-9a P {
  text-align: left;
  font-size: 20px;
  color: #ffffff;
}
#msg-box7-9a SPAN {
  font-size: 60px;
}
#msg-box7-9a UL {
  color: #ffffff;
}
#msg-box7-9a p {
  text-shadow: 2px 5px 15px black;
}
#social-buttons1-96 {
  text-shadow: 0 0 20px #000000;
}
#social-buttons1-96 .mbr-section-title {
  color: #000000;
}



#msg-box7-9b {
  text-shadow: 2px 2px 5px black;
}
#msg-box7-9b .mbr-section-title,
#msg-box7-9b .lead p {
  color: #fff;
}
#msg-box7-9b H3 {
  color: #f3c649;
  text-align: center;
}
#msg-box7-9b P {
  text-align: left;
  font-size: 17px;
}
#msg-box7-9b SPAN {
  font-size: 60px;
}
#msg-box7-9b UL {
  color: #ffffff;
}
#msg-box7-9b p {
  text-shadow: 2px 2px 5px black;
}
#ext_menu-8h {
  text-shadow: 2px 2px 5px black;
}
#ext_menu-8h .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-8h .navbar-caption {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-8h .navbar-toggler {
  color: #ffffff;
}
#ext_menu-8h .close-icon::before,
#ext_menu-8h .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-8h .link,
#ext_menu-8h .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-8h .link {
  font-size: 1.5rem;
}
#ext_menu-8h .dropdown-item,
#ext_menu-8h .nav-dropdown-sm .link {
  font-size: 1.624rem;
}
#ext_menu-8h .link:hover,
#ext_menu-8h .dropdown-item:hover,
#ext_menu-8h .link:focus,
#ext_menu-8h .dropdown-item:focus {
  color: #000000;
}
#ext_menu-8h .link[aria-expanded="true"],
#ext_menu-8h .dropdown-menu {
  background: #262626;
}
#ext_menu-8h .nav-dropdown-sm .link:focus,
#ext_menu-8h .nav-dropdown-sm .link:hover,
#ext_menu-8h .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-8h .nav-dropdown-sm .dropdown-item:hover {
  background: #373737!important;
}
#ext_menu-8h .navbar,
#ext_menu-8h .nav-dropdown-sm,
#ext_menu-8h .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-8h .nav-dropdown-sm .dropdown-menu {
  background: #3f3f3f;
}
#ext_menu-8h .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-8h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-8h .bg-color.transparent.opened .link:hover,
#ext_menu-8h .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#ext_menu-8h .link[aria-expanded="true"],
#ext_menu-8h .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#ext_menu-8h A {
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-8h .btn {
  font-size: 30px;
}
#social-buttons1-8y {
  text-shadow: 0 0 20px #000000;
}
#social-buttons1-8y .mbr-section-title {
  color: #000000;
}




#msg-box7-9b {
  text-shadow: 2px 2px 5px #000000;
}
#msg-box7-9b .mbr-section-title,
#msg-box7-9b .lead p {
  color: #fff;
}
#msg-box7-9b H3 {
  color: #f3c649;
  text-align: center;
}
#msg-box7-9b P {
  text-align: left;
  font-size: 17px;
}
#msg-box7-9b SPAN {
  font-size: 60px;
  font-family: 'Oswald', sans-serif;
}
#msg-box7-9b UL {
  color: #ffffff;
}
#msg-box7-9b p {
  text-shadow: 2px 2px 5px black;
}
#ext_menu-8h {
  text-shadow: 2px 2px 5px black;
}
#ext_menu-8h .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-8h .navbar-caption {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-8h .navbar-toggler {
  color: #ffffff;
}
#ext_menu-8h .close-icon::before,
#ext_menu-8h .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-8h .link,
#ext_menu-8h .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-8h .link {
  font-size: 1.5rem;
}
#ext_menu-8h .dropdown-item,
#ext_menu-8h .nav-dropdown-sm .link {
  font-size: 1.624rem;
}
#ext_menu-8h .link:hover,
#ext_menu-8h .dropdown-item:hover,
#ext_menu-8h .link:focus,
#ext_menu-8h .dropdown-item:focus {
  color: #000000;
}
#ext_menu-8h .link[aria-expanded="true"],
#ext_menu-8h .dropdown-menu {
  background: #262626;
}
#ext_menu-8h .nav-dropdown-sm .link:focus,
#ext_menu-8h .nav-dropdown-sm .link:hover,
#ext_menu-8h .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-8h .nav-dropdown-sm .dropdown-item:hover {
  background: #373737!important;
}
#ext_menu-8h .navbar,
#ext_menu-8h .nav-dropdown-sm,
#ext_menu-8h .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-8h .nav-dropdown-sm .dropdown-menu {
  background: #3f3f3f;
}
#ext_menu-8h .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-8h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-8h .bg-color.transparent.opened .link:hover,
#ext_menu-8h .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#ext_menu-8h .link[aria-expanded="true"],
#ext_menu-8h .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#ext_menu-8h A {
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-8h .btn {
  font-size: 30px;
}
#social-buttons1-8y {
  text-shadow: 0 0 20px #000000;
}
#social-buttons1-8y .mbr-section-title {
  color: #000000;
}



#ext_menu-8e {
  text-shadow: 2px 2px 5px black;
}
#ext_menu-8e .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-8e .navbar-caption {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-8e .navbar-toggler {
  color: #ffffff;
}
#ext_menu-8e .close-icon::before,
#ext_menu-8e .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-8e .link,
#ext_menu-8e .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-8e .link {
  font-size: 1.5rem;
}
#ext_menu-8e .dropdown-item,
#ext_menu-8e .nav-dropdown-sm .link {
  font-size: 1.624rem;
}
#ext_menu-8e .link:hover,
#ext_menu-8e .dropdown-item:hover,
#ext_menu-8e .link:focus,
#ext_menu-8e .dropdown-item:focus {
  color: #000000;
}
#ext_menu-8e .link[aria-expanded="true"],
#ext_menu-8e .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-8e .nav-dropdown-sm .link:focus,
#ext_menu-8e .nav-dropdown-sm .link:hover,
#ext_menu-8e .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-8e .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-8e .navbar,
#ext_menu-8e .nav-dropdown-sm,
#ext_menu-8e .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-8e .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-8e .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-8e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-8e .bg-color.transparent.opened .link:hover,
#ext_menu-8e .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#ext_menu-8e .link[aria-expanded="true"],
#ext_menu-8e .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#ext_menu-8e A {
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-8e .btn {
  font-size: 30px;
}
#msg-box7-9g {
  text-shadow: 2px 5px 15px black;
}
#msg-box7-9g .mbr-section-title,
#msg-box7-9g .lead p {
  color: #fff;
}
#msg-box7-9g H3 {
  color: #b8312f;
  text-align: left;
}
#msg-box7-9g P {
  text-align: left;
  font-size: 17px;
}
#msg-box7-9g SPAN {
  font-size: 60px;
}
#msg-box7-9g p {
  text-shadow: 2px 5px 15px black;
}
#social-buttons1-96 {
  text-shadow: 0 0 20px #000000;
}
#social-buttons1-96 .mbr-section-title {
  color: #000000;
}



#ext_menu-8h {
  text-shadow: 2px 2px 5px black;
}
#ext_menu-8h .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-8h .navbar-caption {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-8h .navbar-toggler {
  color: #ffffff;
}
#ext_menu-8h .close-icon::before,
#ext_menu-8h .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-8h .link,
#ext_menu-8h .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-8h .link {
  font-size: 1.5rem;
}
#ext_menu-8h .dropdown-item,
#ext_menu-8h .nav-dropdown-sm .link {
  font-size: 1.624rem;
}
#ext_menu-8h .link:hover,
#ext_menu-8h .dropdown-item:hover,
#ext_menu-8h .link:focus,
#ext_menu-8h .dropdown-item:focus {
  color: #000000;
}
#ext_menu-8h .link[aria-expanded="true"],
#ext_menu-8h .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-8h .nav-dropdown-sm .link:focus,
#ext_menu-8h .nav-dropdown-sm .link:hover,
#ext_menu-8h .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-8h .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-8h .navbar,
#ext_menu-8h .nav-dropdown-sm,
#ext_menu-8h .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-8h .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-8h .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-8h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-8h .bg-color.transparent.opened .link:hover,
#ext_menu-8h .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#ext_menu-8h .link[aria-expanded="true"],
#ext_menu-8h .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#ext_menu-8h A {
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-8h .btn {
  font-size: 30px;
}
#custom-html-9z {
  /* Type valid CSS here */
}
#custom-html-9z div {
  padding: 80px 0;
  color: #777;
  text-align: center;
}
#custom-html-9z p {
  font-size: 60px;
  color: #777;
}
#social-buttons1-8y {
  text-shadow: 0 0 20px #000000;
}
#social-buttons1-8y .mbr-section-title {
  color: #000000;
}
